langchain
langchain-community
langchain-core
faiss-cpu
pypdf
sentence-transformers
streamlit
fastapi
uvicorn
langchain-huggingface
httpx
torch
jsonpatch
langchain-text-splitters
langchain-elasticsearch
langchain-ollama
langchain-google-genai
dotenv
streamlit